<!doctype html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>오량 시설 예약시스템</title>
    <style>
        .table td, .table th {
            padding: .12rem;
            vertical-align: middle;
        }

        /* 테이블가로 스크롤 */
        .table-wrapper {
            overflow-x: auto;
        }

        /* 테이블폰트 사이즈 */
        @media (max-width: 576px) {
            .table-responsive {
                font-size: 13px;
            }
        }
        @media (min-width: 577px) and (max-width: 767px) {
            .table-responsive {
                font-size: 15px;
            }
        }
        @media (min-width: 768px) {
            .table-responsive {
                font-size: 16px;
            }
        }
    </style>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <b><a class="navbar-brand" href="main" style="color: green;">오량 시설 예약시스템</a></b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="JJHbooking">시설 예약</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="checking">예약 확인</a>
            </li>
          </ul>
        </div>
      </nav>

      <br>


    <div class="container">
      <a class="btn btn-outline-primary" href="checking" role="button">멀티실</a>
      <a class="btn btn-primary" href="JaJuHak" role="button">자기주도학습실</a>
  
      <br>

      <div class="table-wrapper table-responsive">


        <br>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item">
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent1" aria-controls="navbarToggleExternalContent1" aria-expanded="false" aria-label="Toggle navigation">
                자주학 1실
              </button>
              <div class="collapse" id="navbarToggleExternalContent1">
                <div class="bg-white p-4">   
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">1번 테이블</th>
                        <th scope="col">2번 테이블</th>
                        <th scope="col">3번 테이블</th>
                        <th scope="col">4번 테이블</th>
                        <th scope="col">5번 테이블</th>
                        <th scope="col">6번 테이블</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for JJH in jbookings %}
                      <tr>
                        {% if JJH.jroom == '1-1' %}
                        <td>{{ JJH.jname }} 
                          <br> 
                          {{ JJH.jtime }} </td>
                        {% else %}
                        </td><td>
                        {% endif %}
                        {% if JJH.jroom == '1-2' %}
                        <td> {{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '1-3' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '1-4' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '1-5' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '1-6' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </li>

            <li class="list-group-item">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2" aria-expanded="false" aria-label="Toggle navigation">
                자주학 2실
              </button>
              <div class="collapse" id="navbarToggleExternalContent2">
                <div class="bg-white p-4">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">1번 테이블</th>
                        <th scope="col">2번 테이블</th>
                        <th scope="col">3번 테이블</th>
                        <th scope="col">4번 테이블</th>
                        <th scope="col">5번 테이블</th>
                        <th scope="col">6번 테이블</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for JJH in jbookings %}
                      <tr>
                        {% if JJH.jroom == '12-1' %}
                        <td>{{ JJH.jname }} 
                          <br> 
                          {{ JJH.jtime }} </td>
                        {% else %}
                        </td><td>
                        {% endif %}
                        {% if JJH.jroom == '2-2' %}
                        <td> {{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '2-3' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '2-4' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '2-5' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '2-6' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3" aria-expanded="false" aria-label="Toggle navigation">
                자주학 3실
              </button>
              <div class="collapse" id="navbarToggleExternalContent3">
                <div class="bg-white p-4">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">1번 테이블</th>
                        <th scope="col">2번 테이블</th>
                        <th scope="col">3번 테이블</th>
                        <th scope="col">4번 테이블</th>
                        <th scope="col">5번 테이블</th>
                        <th scope="col">6번 테이블</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for JJH in jbookings %}
                        {% if JJH.jroom == '3-1' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                        <br>
                        {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '3-2' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '3-3' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '3-4' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '3-5' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '3-6' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>


            </li>

            <li class="list-group-item">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent4" aria-controls="navbarToggleExternalContent4" aria-expanded="false" aria-label="Toggle navigation">
                자주학 4실
              </button>
              <div class="collapse" id="navbarToggleExternalContent4">
                <div class="bg-white p-4">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">1번 테이블</th>
                        <th scope="col">2번 테이블</th>
                        <th scope="col">3번 테이블</th>
                        <th scope="col">4번 테이블</th>
                        <th scope="col">5번 테이블</th>
                        <th scope="col">6번 테이블</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for JJH in jbookings %}
                        {% if JJH.jroom == '4-1' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                        <br>
                        {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '4-2' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '4-3' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '4-4' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '4-5' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '4-6' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>


            </li>

            <li class="list-group-item">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent5" aria-controls="navbarToggleExternalContent5" aria-expanded="false" aria-label="Toggle navigation">
                자주학 5실
              </button>
              <div class="collapse" id="navbarToggleExternalContent5">
                <div class="bg-white p-4">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">1번 테이블</th>
                        <th scope="col">2번 테이블</th>
                        <th scope="col">3번 테이블</th>
                        <th scope="col">4번 테이블</th>
                        <th scope="col">5번 테이블</th>
                        <th scope="col">6번 테이블</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for JJH in jbookings %}
                      <tr>
                        {% if JJH.jroom == '15-1' %}
                        <td>{{ JJH.jname }} 
                          <br> 
                          {{ JJH.jtime }} </td>
                        {% else %}
                        </td><td>
                        {% endif %}
                        {% if JJH.jroom == '5-2' %}
                        <td> {{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '5-3' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '5-4' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '5-5' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% if JJH.jroom == '5-6' %}
                        <td>{{ JJH.jname }} <!-- 이런식으로 하면 되지않을가??? -->
                          <br>
                          {{ JJH.jtime }} <!-- 시간은 여따가 -->
                        </td>
                        {% else %}
                      </td><td>
                        {% endif %}
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


            </li>

          </ul>
      </div> 
    </div>
 </div>
    




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
